node_modules/
/test-results/
/tests/coverage-report
.local-browsers/
/.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
.mono
.idea
yarn.lock
packages/*/lib/
drivers/
.android-sdk/
.gradle/
nohup.out
.trace
.tmp
allure*
blob-report
playwright-report
test-results/
test-results/.last-run.json
.env
.cache/
*.json
playwright-report/index.html
